@charset "UTF-8";


* { margin: 0; padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }
li { list-style: none; }
a, li { text-decoration: none; color: white; font-family: 돋움, Ariel, sans-serif; font-size: 12pt; font-weight: 300; }
#board li a:hover { text-decoration: underline; }

/* 색을 입혀보자 */
#header { background-color: rgb(4, 117, 230); }
#logo { background-color: #111964; }
.menubar { background-color: rgb(127, 170, 209); }
.menubar a { color: black; }
#slider { background-color: #308cca; }
#contents { background-color: #445abb; }
#footer { background-color: rgb(0, 52, 104); }
#logo_footer { background-color: #010944; }
#copyright { background-color: rgb(0, 72, 124); }

/* 템플릿용 이미지 텍스트 대치 전용 (img 대신 p태그)
    아래 부분을 지우고, p태그 대신 img태그를 집어넣기 */
#logo a, #slider a, #gallery a, #banner a, #logo_footer a, #sns a { display: inline-block; width: 100%; height: 100%; text-align: center; font-family: "Arial Black"; }
#logo a { font-size: 15pt; padding-top: 25px; }
#slider a { font-size: 30pt; padding-top: 125px; }
#slideImg2 { background-color: #409cda; }
#gallery a, #banner a { font-size: 13pt; padding-top: 40px; }
#gallery li, #banner li { overflow: hidden; }
#gallery a { width: 130px; height: 130px; background-color: #648adb; }
#banner a { background-color: #547acb; }
#logo_footer a { font-size: 14pt; padding-top: 22px; }
#sns a { font-size: 12pt; padding-top: 12px; }